#navbar {
  height: var(--navbar-height);
  background-color: var(--theme-color);
  button:focus {
    box-shadow: none;
  }
}

#basic-navbar-nav {
  z-index: 10;
  background-color: var(--theme-color);
  > div {
    max-width: 90vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    padding: 0.7rem;
    font-weight: 300;
    color: white;
  }
}

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #basic-navbar-nav {
    > div {
      max-width: 20vw;
    }
  }
}
/* ----- /Breakpoints ----- */