#usernameForm-wrapper {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

#usernameForm-header {
  margin-bottom: 2rem;
  text-align: center;
  h4 {
    margin: 0;
    font-weight: 300;
  }
}

#messagesDisplay-wrapper {
  height: 70vh;
  margin-top: 1rem;
}

#groupForm-wrapper {
  margin-top: 1rem;
}

#messageForm-wrapper {
  margin-top: 1rem;
}